<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<form method="get">
   <label for="Enter your query">Enter your query</label>
   <input name="query" id="query" required>
   <input type="submit" value="Enter">
</form>

<br>
<br>
<br>

<form id="myForm" action="/logs" method="post">
   <button type="submit">Get logs</button>
</form>

<form id="download" action="/download" method="get">
   <button type="submit">Download logs</button>
</form>


<form id="try" action="/price_tracking" method="get">
   <button type="submit">Try</button>
</form>


<br>
<br>
<br>
<h1>Add Tracked Item</h1>
    <form id="add_tracked" action="/add_tracked_item" method="post">
       <label for="url">Enter the URL of the item to be tracked:</label><br>
       <input type="url" name="url" id="url" required><br><br>
       <input type="submit" value="Add">
    </form>
<table border="1">
   <tr >
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product Url</th>
      <th>Product Rating</th>
      <th>Product Image</th>
      <th>Product Brand</th>
      <th>Availability</th>
      <th>Return Policy</th>
      <th>Warranty</th>
   </tr>
   {% for row in rows %}
   <tr>
      <td>{{ row.product_name }}</td>
      <td>{{ row.product_price }}</td>
      <td>{{ row.product_url }}</td>
      <td>{{ row.product_rating }}</td>
      <td>{{ row.product_image }}</td>
      <td>{{ row.product_brand }}</td>
      <td>{{ row.availability }}</td>
      <td>{{ row.return_policy }}</td>
      <td>{{ row.warranty }}</td>
   </tr>
   {% endfor %}
</table>